/*********** Container ************/
#radicalinstaller-container {
    position: relative;
}


/************* Text ***************/
.radicalinstaller-text-center {
    text-align: center;
}

.radicalinstaller-text-large {
    font-size: 20px;
    line-height: 24px;
}


/************* Width *************/
.radicalinstaller-width-1-1 {
    width: 100%;
}

.radicalinstaller-width-2-3 {
    width: 66.6%
}

.radicalinstaller-width-auto {
    width: auto;
}

.radicalinstaller-width-expand {
    flex: 1;
}


/************* Visible ***********/
.ri-hidden {
    display: none !important;
}


/************* Margin *************/
.radicalinstaller-margin-auto {
    margin: auto !important;
}

.radicalinstaller-margin-top {
    margin-top: 35px;
}

.radicalinstaller-margin-right {
    margin-right: 35px;
}

.radicalinstaller-margin-bottom {
    margin-bottom: 35px;
}


/************* Padding *************/
.radicalinstaller-padding {
    padding: 35px !important;
}

.radicalinstaller-padding-large {
    padding: 50px !important;
}


/*********** Height ***************/
.radicalinstaller-height-large {
    height: 400px;
}


/*********** Backgrounds **********/
.radicalinstaller-background-muted {
    background: #F0F0F0 !important;
}


/************ Flex ****************/
.radicalinstaller-flex {
    display: flex;
}

.radicalinstaller-flex-wrap {
    flex-wrap: wrap;
}

.radicalinstaller-flex-center {
    justify-content: center;
    justify-items: center;
}


.radicalinstaller-flex-middle {
    align-items: center;
    align-content: center;
}

.radicalinstaller-flex-space > * {
    margin-right: 6px;
    margin-bottom: 6px !important;
}

.radicalinstaller-flex-space > *:last-child {
    margin-right: 0;
}


/************ Grid ***************/
.radicalinstaller-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;
}

.radicalinstaller-grid > * {
    margin: 15px;
}

.radicalinstaller-grid-width-1-3 > * {
    width: calc(33% - 30px);
}

.radicalinstaller-grid-width-1-4 > * {
    width: calc(25% - 30px);
}



/*********** Form *****************/
.control-group-large:last-child {
    margin-bottom: 0 !important;
}

.control-group-large .control-label label {
    font-size: 18px;
    line-height: 22px;
}

.control-group-no-label .controls {
    margin-left: 0 !important;
    cursor: auto !important;
}

.control-group-large input {
    line-height: 40px !important;
    height: 40px !important;
    padding: 0 15px !important;
    font-size: 18px !important;
}



/*********** Group *****************/
.radicalinstaller-group {
    padding: 25px;
    border: 1px solid #eee;
    border-radius: 4px;
}

.radicalinstaller-group +
.radicalinstaller-group {
    margin-top: 35px;
}

.radicalinstaller-group-header h3 {
    font-size: 24px;
    margin-bottom: 0;
}



/************* Card **************/
.radicalinstaller-project-card {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    height: 100%;
    border: 1px solid #eee;
    border-radius: 4px;
}

.radicalinstaller-project-card-image {
    background-color: #eee;
    display: flex;
    align-content: center;
    align-items: center;
    width: 180px;
    height: 100%;
}

.radicalinstaller-project-card-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.radicalinstaller-project-card-info {
    padding: 15px;
}

/************ Alerts *************/
#radicalinstaller-alert-container {
    position: fixed;
    height: auto;
    max-width: 350px;
    width: 100%;
    bottom: 30px;
    right: 0;
}

#radicalinstaller-alert-wrapper {
    height: auto;
    padding: 15px;
}

.radicalinstaller-alert {
    position: relative;
    padding: 25px 30px 20px;
    font-size: 15px;
    margin-top: 15px;
    opacity: 1;
    line-height: 1.4;
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: default;
    transition: all 0.5s ease-in-out;   /* Edit for fadeout time */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

.radicalinstaller-alert span {
    opacity: 0.7;
    transition: all 0.25s ease-in-out;   /* Edit for fadeout time */
}

.radicalinstaller-alert span:hover {
    opacity: 1.0;
}

.radicalinstaller-alert-success {
    color: #ffffff;
    background-color: #37c1aa;
}

.radicalinstaller-alert-success > span {
    color: #0b6f5e;
}

.radicalinstaller-alert-info {
    color: #ffffff;
    background-color: #3473c1;
}

.radicalinstaller-alert-info > span {
    color: #1e4567;
}

.radicalinstaller-alert-warning {
    color: #6b7117;
    background-color: #ffee9e;
}

.radicalinstaller-alert-warning > span {
    color: #8a6d3b;
}

.radicalinstaller-alert-danger {
    color: #ffffff;
    background-color: #d64f62;
}

.radicalinstaller-alert-danger > span {
    color: #6f1414;
}

.close-alert-x {
    position: absolute;
    float: right;
    top: 10px;
    right: 10px;
    cursor: pointer;
    outline: none;
}

.fade-out {
    opacity: 0;
}

.animation-target {
    animation: radicalinstaller-alert-animation 1500ms linear both;
}

/* Generated with Bounce.js. Edit at http://goo.gl/BKCT19 */

@keyframes radicalinstaller-alert-animation {
    0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 250, 0, 0, 1); }
    3.14% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 160.737, 0, 0, 1); }
    4.3% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 132.565, 0, 0, 1); }
    6.27% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 91.357, 0, 0, 1); }
    8.61% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 51.939, 0, 0, 1); }
    9.41% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 40.599, 0, 0, 1); }
    12.48% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 6.498, 0, 0, 1); }
    12.91% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.807, 0, 0, 1); }
    16.22% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -17.027, 0, 0, 1); }
    17.22% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -20.404, 0, 0, 1); }
    19.95% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -24.473, 0, 0, 1); }
    23.69% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -21.178, 0, 0, 1); }
    27.36% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -13.259, 0, 0, 1); }
    28.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -11.027, 0, 0, 1); }
    34.77% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.142, 0, 0, 1); }
    39.44% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.725, 0, 0, 1); }
    42.18% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.675, 0, 0, 1); }
    56.99% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.202, 0, 0, 1); }
    61.66% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.223, 0, 0, 1); }
    66.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.104, 0, 0, 1); }
    83.98% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.01, 0, 0, 1); }
    100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}
