/************* Buttons ***********/
.ri-btn {
    display: inline-block;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #212529;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    padding: 6px 14px;
    text-align: center;
    white-space: nowrap;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
}

.ri-btn-default {
    background: #fff;
    border-color: hsl(var(--hue),20%,80%);
    color: var(--template-text-dark);
}

.ri-btn-default:hover {
    background-color: var(--template-link-color);
    border-color: var(--template-link-color);
    color: hsla(0,0%,100%,.9);
}

.ri-btn-default:focus {
    box-shadow: 0 0 0 .25rem rgba(54,78,109,.5);
}

.ri-btn-primary {
    background: var(--template-bg-dark-60);
    color: var(--template-text-light);
}

.ri-btn-primary:hover,
.ri-btn-primary:focus,
.ri-btn-primary:active {
    background-color: var(--template-bg-dark-70);
    border-color: var(--template-bg-dark-90);
}

.ri-btn-primary:focus {
    box-shadow: 0 0 0 .25rem rgba(54,78,109,.5);
}


.ri-btn-active {
    background: var(--template-bg-dark-60);
    color: var(--template-text-light);
}

.ri-btn-active:hover,
.ri-btn-active:focus,
.ri-btn-active:active {
    background-color: var(--template-bg-dark-70);
    border-color: var(--template-bg-dark-90);
}

.ri-btn-active:focus {
    box-shadow: 0 0 0 .25rem rgba(54,78,109,.5);
}

.ri-btn-success {
    background-color: #457d54;
    border-color: #457d54;
    color: #fff;
}

.ri-btn-success:focus + .ri-btn-success,
.ri-btn-success:focus,
.ri-btn-success:hover {
    background-color: #3b6a47;
    border-color: #376443;
    color: #fff;
}

.ri-btn-success:active + .ri-btn-success,
.ri-btn-success:checked + .ri-btn-success,
.ri-btn-success.active,
.ri-btn-success:active {
    background-color: #376443;
    border-color: #345e3f;
    color: #fff;
}

.ri-btn-success:focus + .ri-btn-success,
.ri-btn-success:focus {
    box-shadow: 0 0 0 .25rem rgba(97,145,110,.5);
}

.ri-btn-danger {
    background-color: #c52827;
    border-color: #c52827;
    color: #fff;
}

.ri-btn-danger:focus + .ri-btn-danger,
.ri-btn-danger:focus,
.ri-btn-danger:hover {
    background-color: #a72221;
    border-color: #9e201f;
    color: #fff;
}

.ri-btn-danger:active + .ri-btn-danger,
.ri-btn-danger:checked + .ri-btn-danger ,
.ri-btn-danger:active {
    background-color: #9e201f;
    border-color: #941e1d;
    color: #fff;
}

.ri-btn-danger:active + .ri-btn-danger:focus,
.ri-btn-danger:checked + .ri-btn-danger:focus {
    box-shadow: 0 0 0 .25rem rgba(206,72,71,.5);
}

.ri-btn:disabled,
.ri-btn[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
}

.ri-btn-large {
    padding: 10px 15px;
    font-size: 15px;
}

.ri-btn-small {
    padding: 4px 10px;
    font-size: 13px;
}

.ri-btn-text {
    border-color: transparent !important;
    background: transparent !important;
    box-shadow: none !important;

}

.ri-btn-text:focus,
.ri-btn-text:active,
.ri-btn-text:hover {
    color: #212529;
    text-decoration: underline;
}

.ri-btn-check-update {
    /*display: flex;
    align-self: center;
    align-content: center;
    align-items: center;*/
}

.ri-btn-check-update span {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 4px;
    border-radius: 50%;
    background: #a94442;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.ri-btn-check-update span.empty {
    background: #134b9e;
}


/**************** Button groups ***************/
.ri-btn-group {
}

.ri-btn-group-small > * {
    padding: 4px 10px;
    font-size: 13px;
}

.ri-btn-group > *,
.ri-btn-group > * > .ri-btn {
    border-radius: 0;
    border-left-width: 0;

}

.ri-btn-group > *:first-child,
.ri-btn-group > *:first-child > .ri-btn {
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem;
    border-left-width: 1px;
}

.ri-btn-group > *:last-child,
.ri-btn-group > *:last-child > .ri-btn {
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;
}

/*********** Form **********/
.ri-input {
    border: 1px solid hsl(var(--hue),20%,80%);;
    padding: 0 10px;
}


/*********** Alert **********/
.alert.alert-message {
    background-color: var(--template-bg-dark-10);
    border: 1px solid var(--template-bg-dark-20);
    color: var(--template-bg-dark);
}

.alert.alert-notice {
    background-color: #fffcf4;
    border: 1px solid #ffb514;
    color: #996900;
}


/******************** Dropdown **********************/
.ri-btn-wrap {
    position: relative;
    display: inline-block;
}

.ri-btn-dropdown {
    visibility: hidden;
    position: absolute;
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: visibility 0.1s;
    z-index: 6;
}

.ri-btn-wrap:hover .ri-btn-dropdown {
    visibility: visible;
}

.ri-btn-dropdown .btn {
    border-top: none;
}

.ri-btn-dropdown {
    width: 300px;
}

.ri-btn-dropdown > * {
    width: 100%;
    text-align: left;
    border-radius: 0;
    border-top: none;
    border-bottom: none;
}


/************* Accordion ***************/
.ri-tab-label {
    background: var(--template-bg-dark-60);
    color: var(--template-text-light);
}

.ri-tab-label:hover {
    background-color: var(--template-bg-dark-70);
}

.ri-tabs input:checked + .ri-tab-label {
    background-color: var(--template-bg-dark-70);
    border-color: var(--template-bg-dark-90);
}

.ri-tab-close {
    background: var(--template-text-light);
}

.ri-tab-close:hover {
    background: var(--template-text-light);
}


/************* Main container ***************/
#radicalinstaller-container {
}


/************* Group ***************/
.radicalinstaller-group {
    padding: 25px 0;
}

.radicalinstaller-group + .radicalinstaller-group {
    margin: 0px -41px;
    padding: 25px 41px 25px 41px;
    background: rgb(243, 247, 252);
}

.radicalinstaller-group:last-child {
    margin-bottom: -20px;
}

/************* Card ***************/
.radicalinstaller-project-categories a:not([href]):not([class]) {
    color: var(--template-link-color);
}

.radicalinstaller-project-categories a:not([href]):not([class]):hover {
    color: var(--template-link-hover-color);
}

/************* Logs ***************/
.radicalinstaller-group + .radicalinstaller-group .radicalinstaller-logs {
    background-color: #fff;
}