.sovmart-container * {
    box-sizing: border-box;
}

/************* Buttons ***********/
.ri-btn {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 5px 13px;
    border: 1px solid transparent;
    font-size: 13px;
    line-height: 1.5;
    min-height: 30px;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ri-btn-default {
    background-color: #f3f3f3;
    color: #333;
    border-color: #b3b3b3;
}

.ri-btn-default:hover,
.ri-btn-default:focus {
    background-color: #e6e6e6;
    text-decoration: none;
    text-shadow: none;
}

.ri-btn-default:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.ri-btn-default:active {
    background-image: none;
    outline: 0;
}

.ri-btn-primary {
    color: #fff;
    background-color: #2384d3;
    border-color: rgba(0, 0, 0, 0.2);
}

.ri-btn-primary:hover,
.ri-btn-primary:focus,
.ri-btn-primary:active {
    background-color: #185b91;
    color: #fff;
    text-decoration: none;
}

.ri-btn-primary:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}


.ri-btn-active {
    color: #fff;
    background-color: #2384d3;
    border-color: rgba(0, 0, 0, 0.2);
}

.ri-btn-active:hover,
.ri-btn-active:focus,
.ri-btn-active:active {
    background-color: #185b91;
    color: #fff;
    text-decoration: none;
}

.ri-btn-active:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.ri-btn-success {
    background-color: #46a546;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.ri-btn-success:focus + .ri-btn-success,
.ri-btn-success:focus,
.ri-btn-success:hover {
    background-color: #2f6f2f;
    color: #fff;
    text-decoration: none;
}

.ri-btn-success:focus + .ri-btn-success,
.ri-btn-success:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.ri-btn-danger {
    background-color: #bd362f;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #fff;
}

.ri-btn-danger:focus + .ri-btn-danger,
.ri-btn-danger:focus,
.ri-btn-danger:hover {
    background-color: #85352f;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.ri-btn:disabled,
.ri-btn[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
}

.ri-btn-large {
    padding: 10px 15px;
    font-size: 15px;
}

.ri-btn-small {
    padding: 4px 10px;
    font-size: 13px;
}

.ri-btn-text {
    border-color: transparent !important;
    background: transparent !important;
    box-shadow: none !important;

}

.ri-btn-text:focus,
.ri-btn-text:active,
.ri-btn-text:hover {
    color: #212529;
    text-decoration: underline;
}


.ri-btn-check-update {
    /*display: flex;
    align-self: center;
    align-content: center;
    align-items: center;*/
}

.ri-btn-check-update span {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 4px;
    border-radius: 50%;
    background: #a94442;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.ri-btn-check-update span.empty {
    background: #134b9e;
}



/**************** Button groups ***************/
.ri-btn-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.ri-btn-group-small > * {
    padding: 4px 10px;
    font-size: 13px;
}

.ri-btn-group > *,
.ri-btn-group > * > .ri-btn {
    border-radius: 0;
    border-left-width: 0;
}

.ri-btn-group > *:first-child,
.ri-btn-group > *:first-child > .ri-btn {
    border-left-width: 1px;
}

.ri-btn-group > *:first-child,
.ri-btn-group > *:first-child > .ri-btn {
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem;
}

.ri-btn-group > *:last-child,
.ri-btn-group > *:last-child > .ri-btn {
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;
}


/******************** Dropdown **********************/
.ri-btn-wrap {
    position: relative;
    display: inline-block;
}

.ri-btn-dropdown {
    visibility: hidden;
    position: absolute;
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: visibility 0.1s;
    z-index: 6;
}

.ri-btn-wrap:hover .ri-btn-dropdown {
    visibility: visible;
}

.ri-btn-dropdown .btn {
    border-top: none;
}

.ri-btn-dropdown {
    width: 300px;
}

.ri-btn-dropdown > * {
    width: 100%;
    text-align: left;
    border-radius: 0;
    border-top: none;
    border-bottom: none;
}


/******************* Form key ***********************/
.sovmart-input-key {
    min-height: 35px;
}


/************* Group ***************/
.sovmart-group {
    padding: 25px 0;
}

.sovmart-group:nth-child(2n) {
    padding: 35px 25px;
    background: #F0F0F0;
}