/*********** Container ************/
#sovmart-container {
    position: relative;
}


/************* Text ***************/
.sovmart-text-center {
    text-align: center;
}

.sovmart-text-right {
    text-align: right;
}

.sovmart-text-large {
    font-size: 20px;
    line-height: 24px;
}


/************* Width *************/
.sovmart-width-1-1 {
    width: 100%;
}

.sovmart-width-1-2 {
    width: 50%;
}

.sovmart-width-2-3 {
    width: 66.6%
}

.sovmart-width-auto {
    width: auto;
}

.sovmart-width-expand {
    flex: 1;
}

.sovmart-width-large {
    flex: unset;
    width: 500px;
}

@media screen and (min-width: 968px) {

    .sovmart-width-auto\@m {
        width: auto;
    }

    .sovmart-width-expand\@m {
        flex: 1;
    }

    .sovmart-width-large\@m {
        flex: unset;
        width: 500px;
    }
}

@media screen and (min-width: 1700px) {
    .sovmart-width-1-2\@l {
        width: 50%;
    }
}


/************* Visible ***********/
.ri-hidden {
    display: none !important;
}

/*********** disabled ***************/
.ri-area-disabled {
    opacity: .6;
    pointer-events: none;
    cursor: not-allowed;
}

/************ Backgrounds ***********/
.sovmart-background-muted {
    background: #eee;
}

/************* Margin *************/
.sovmart-margin {
    margin: 30px;
}

.sovmart-child-margin-right-small > * {
    margin-right: 15px;
}

.sovmart-margin-auto {
    margin: auto !important;
}

.sovmart-margin-small {
    margin: 15px;
}

.sovmart-margin-small + .sovmart-margin-small {
    margin-top: 0;
}

.sovmart-margin-top {
    margin-top: 30px;
}

.sovmart-margin-right {
    margin-right: 30px;
}

.sovmart-margin-bottom {
    margin-bottom: 30px;
}

.sovmart-margin-bottom-small {
    margin-bottom: 15px;
}

.sovmart-margin-right-small {
    margin-right: 15px;
}

.sovmart-margin-left-xsmall {
    margin-left: 5px;
}

.sovmart-margin-right-xsmall {
    margin-right: 5px;
}

.sovmart-margin-bottom-xsmall {
    margin-bottom: 5px;
}

/************* Padding *************/
.sovmart-padding {
    padding: 30px !important;
}

.sovmart-padding-large {
    padding: 50px !important;
}

.sovmart-padding-small {
    padding: 15px !important;
}


/*********** Height ***************/
.sovmart-height-large {
    height: 400px;
}


/*********** Backgrounds **********/
.sovmart-background-muted {
    background: #F0F0F0 !important;
}


/************ Flex ****************/
.sovmart-flex {
    display: flex;
}

.sovmart-flex-wrap {
    flex-wrap: wrap;
}

.sovmart-flex-nowrap {
    flex-wrap: nowrap;
}

.sovmart-flex-first {
    order: -1;
}

.sovmart-flex-last {
    order: 999;
}

.sovmart-flex-left {
    justify-content: flex-start;
}

.sovmart-flex-right {
    justify-content: flex-end;
}

.sovmart-flex-center {
    justify-content: center;
}

@media screen and (min-width: 968px) {
    .sovmart-flex-first\@m {
        order: -1;
    }

    .sovmart-flex-last\@m {
        order: 999;
    }

    .sovmart-flex-left\@m {
        justify-content: flex-start;
    }

    .sovmart-flex-right\@m {
        justify-content: flex-end;
    }
}

.sovmart-flex-center {
    justify-content: center;
    justify-items: center;
}

.sovmart-flex-middle {
    align-items: center;
    align-content: center;
}

.sovmart-flex-space > * {
    margin-right: 6px;
    margin-bottom: 6px !important;
}

.sovmart-flex-space > *:last-child {
    margin-right: 0;
}


/************ Grid ***************/
.sovmart-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;
}

.sovmart-grid > * {
    margin: 15px;
}

.sovmart-grid-width-1-1 > * {
    width: calc(100% - 30px);
}

.sovmart-grid-width-1-2 > * {
    width: calc(50% - 30px);
}

.sovmart-grid-width-1-3 > * {
    width: calc(33% - 30px);
}

.sovmart-grid-width-1-4 > * {
    width: calc(25% - 30px);
}

.sovmart-grid-width-1-5 > * {
    width: calc(20% - 30px);
}

/*********** Form *****************/
.control-group-large:last-child {
    margin-bottom: 0 !important;
}

.control-group-large .control-label label {
    font-size: 18px;
    line-height: 22px;
}

.control-group-no-label .controls {
    margin-left: 0 !important;
    cursor: auto !important;
}

.control-group-large input {
    line-height: 40px !important;
    height: 40px !important;
    padding: 0 15px !important;
    font-size: 18px !important;
}

.ri-input {
    border-radius: 4px;
}

.ri-input-medium {
    font-size: 17px !important;
    height: 35px !important;
}

.ri-input-large {
    font-size: 17px !important;
    height: 45px !important;
}

/************ Page ******************/
.sovmart-page {

}

/************ Toolbar ******************/
.ri-toolbar-form input {
    height: 35px;
}

@media screen and (max-width: 968px) {
    .sovmart-toolbar .ri-btn-group {
        margin-right: 5px;
        margin-bottom: 5px;
    }
}

/*********** Buttons ****************/
@media screen and (max-width: 968px) {
    .ri-btn {
        max-width: calc(100vw - 80px);
        text-overflow: ellipsis;
        overflow: clip;
    }
}

/*********** Group *****************/
.sovmart-group {
    /*border: 1px solid #eee;
    border-radius: 4px;
    padding: 35px;*/
}

.sovmart-group +
.sovmart-group {
    padding-top: 35px;
}

.sovmart-group-header {
    margin-bottom: 15px;
}

.sovmart-group-header h3 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.sovmart-group-subgroup {
}

.sovmart-group-subgroup + .sovmart-group-subgroup {
    padding-top: 20px;
}

.sovmart-group-subgroup h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.sovmart-group-subgroup:last-child {
    padding-bottom: 0;
}

.sovmart-group-content {
    padding: 0;
}

.sovmart-group-actions {
    margin-top: 35px;
}

/************* Card **************/
.sovmart-project-card {
    height: 100%;
    border-radius: 4px;
    position: relative;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #dfdfdf8c;
    overflow: visible;
    z-index: 1;
    transition: box-shadow 0.3s ease-in;
}

.sovmart-project-card:hover {
    -webkit-box-shadow: 0px 0px 40px 4px rgba(34, 60, 80, 0.30);
    -moz-box-shadow: 0px 0px 40px 4px rgba(34, 60, 80, 0.30);
    box-shadow: 0px 0px 40px 4px rgba(34, 60, 80, 0.30);
    z-index: 2;
    transition: box-shadow 0.3s ease-out;
}

.sovmart-project-card-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 90px;
    border-bottom: 1px solid #dfdfdf8c;
}

.sovmart-project-card-badge {
    position: absolute;
    top: 3px;
    left: 3px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    background: #ff6921;
    width: 20px;
    height: 20px;
    color: #fff;
    opacity: .9;
}

.sovmart-project-card-badge-icon {
    width: 14px;
    height: 14px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0;
}

.sovmart-project-card-badge-icon svg {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
}

.sovmart-project-card-image {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    min-width: 133px;
    width: 133px;
    height: 100%;
    overflow: hidden;
    border-top-left-radius: 4px;
}

@media screen and (max-width: 1700px) {
    .sovmart-project-card-image {
        min-width: 100px;
        width: 100px;
    }
}

.sovmart-project-card-image img {
    max-width: none;
    height: 100%;
}

.sovmart-project-card-image img.icon {
    width: 50%;
    height: 100%;
    opacity: .5;
}

.sovmart-project-card-info {
    padding: 15px;
    font-size: 13px;
    line-height: 17px;
}

.sovmart-project-card-info h4 {
    margin-bottom: 3px;
    font-size: 16px;
    line-height: 20px;
}

@media screen and (max-width: 1700px) {
    .sovmart-project-card-info h4 {
        font-size: 13px;
        line-height: 17px;
    }
}

.sovmart-project-categories {
    padding: 10px 15px 0 15px;
}

.sovmart-project-categories a {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #1e4567;
    cursor: pointer;
}

.sovmart-project-categories a + a {
    margin-left: 13px;
}

.sovmart-project-categories a + a:before {
    content: '/';
    position: absolute;
    left: -8px;
    top: 0;
}
.sovmart-project-card-category a:hover {
    color: #1f374f !important;
}

.sovmart-project-card-version .value-arrow {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.sovmart-project-card-more-wrap {
    position: relative;
    margin-top: -4px;
    margin-left: -1px;
    margin-right: -1px;
    padding-top: 4px;
}

.sovmart-project-card-more {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
    overflow: hidden;
    opacity: 0;
    transition: box-shadow,opacity 0.3s;
}

.sovmart-project-card:hover .sovmart-project-card-more {
    display: block;
    border: 1px solid #dfdfdf8c;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0px 42px 40px 4px rgba(34, 60, 80, 0.30);
    -moz-box-shadow: 0px 42px 40px 4px rgba(34, 60, 80, 0.30);
    box-shadow: 0px 42px 40px 4px rgba(34, 60, 80, 0.30);
    transition: box-shadow,opacity 0.3s;
    opacity: 1;
}

.sovmart-project-card-description {
    min-height: 60px;
    padding: 10px 15px 15px 15px;
    font-size: 13px;
    line-height: 17px;
    color: #777;
}

.sovmart-project-card-actions {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.sovmart-project-card .ri-btn {
    transition: opacity 0.3s;
}

.sovmart-project-card:not(:hover) .ri-btn {
    opacity: .35;
}


/************************ Modals *************************************/
.sovmart-modal-active {
    overflow: hidden;
}

.sovmart-modal-wrap{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,.7);
    z-index: 9999;
}

.sovmart-hide {
    display: none;
}

.sovmart-modal-wrap .sovmart-container {
    position: relative;
    width: 800px;
    height: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-direction: column;
    -webkit-flex-direction: column;
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    justify-content: flex-end;
    background: #fff;
    top: 25%;
    border-radius: 4px;
}

@media screen and (max-width: 1200px) {

    .sovmart-modal-wrap .sovmart-container {
        width: 100%;
    }

}

.sovmart-modal-wrap .sovmart-close {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
}

.sovmart-modal-wrap .sovmart-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 85px;
    padding: 10px 35px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    font-size: 25px;
    line-height: 39px;
}

.sovmart-modal-wrap .sovmart-body-wrap {
    position: relative;
    height: calc(100% - 85px);
}

.sovmart-modal-wrap .sovmart-body-wrap .sovmart-body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 10px 35px;
    overflow-x: hidden;
    overflow-y: auto;
    webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/************ Alerts *************/
#sovmart-alert-container {
    position: fixed;
    height: auto;
    max-width: 350px;
    width: 100%;
    bottom: 30px;
    right: 0;
    z-index: 99999;
}

#sovmart-alert-wrapper {
    height: auto;
    padding: 15px;
}

.sovmart-alert {
    position: relative;
    padding: 25px 30px 20px;
    font-size: 15px;
    margin-top: 15px;
    opacity: 1;
    line-height: 1.4;
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: default;
    transition: all 0.5s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sovmart-alert span {
    /*opacity: 0.7;*/
    transition: all 0.25s ease-in-out;
}

.sovmart-alert span:hover {
    opacity: 1.0;
}

.sovmart-alert-success {
    color: #ffffff;
    background-color: #37c1aa;
}

.sovmart-alert-success > span {
    color: #0b6f5e;
}

.sovmart-alert-info {
    color: #ffffff;
    background-color: #3473c1;
}

.sovmart-alert-info > span {
    color: #1e4567;
}

.sovmart-alert-warning {
    color: #6b7117;
    background-color: #ffee9e;
}

.sovmart-alert-warning > span {
    color: #8a6d3b;
}

.sovmart-alert-danger {
    color: #ffffff;
    background-color: #d64f62;
}

.sovmart-alert-danger > span {
    color: #6f1414;
}

.close-alert-x {
    position: absolute;
    float: right;
    top: 10px;
    right: 10px;
    cursor: pointer;
    outline: none;
}

.fade-out {
    opacity: 0;
}

.animation-target {
    animation: sovmart-alert-animation 1500ms linear both;
}

/* Generated with Bounce.js. Edit at http://goo.gl/BKCT19 */
@keyframes sovmart-alert-animation {
    0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 250, 0, 0, 1); }
    3.14% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 160.737, 0, 0, 1); }
    4.3% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 132.565, 0, 0, 1); }
    6.27% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 91.357, 0, 0, 1); }
    8.61% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 51.939, 0, 0, 1); }
    9.41% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 40.599, 0, 0, 1); }
    12.48% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 6.498, 0, 0, 1); }
    12.91% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.807, 0, 0, 1); }
    16.22% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -17.027, 0, 0, 1); }
    17.22% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -20.404, 0, 0, 1); }
    19.95% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -24.473, 0, 0, 1); }
    23.69% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -21.178, 0, 0, 1); }
    27.36% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -13.259, 0, 0, 1); }
    28.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -11.027, 0, 0, 1); }
    34.77% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.142, 0, 0, 1); }
    39.44% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.725, 0, 0, 1); }
    42.18% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.675, 0, 0, 1); }
    56.99% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.202, 0, 0, 1); }
    61.66% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.223, 0, 0, 1); }
    66.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.104, 0, 0, 1); }
    83.98% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.01, 0, 0, 1); }
    100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}



/************ Page project ***************/
.sovmart-project-page {

}

.sovmart-project-page_buttons {
    margin-bottom: 35px;
}

.sovmart-project-page_providers-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.sovmart-project-page_providers-elements {
    margin-bottom: 25px;
    display: flex;
    align-self: center;
}

.sovmart-project-page_providers-elements_element {
    width: 31%;
    margin-right: 2%;
    position: relative;
    display: flex;
    align-items: center;
}

.sovmart-project-page_providers-elements_element_logo {
    width: 25%;
    margin-right: 10px;
}

.sovmart-project-page_providers-elements_element_title {
    flex: 1;
    font-size: 17px;
    line-height: 21px;
    font-weight: 500;
}

.sovmart-project-page_providers-elements_element_link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sovmart-project-page_description-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.sovmart-project-page_description-text {
    margin-bottom: 25px;
    font-size: 17px;
    line-height: 23px;
}

.sovmart-project-page_gallery-header {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 22px;
}

.sovmart-project-page_gallery-images {
    position: relative;
    background: #ccc;
    height: 300px;
}

.sovmart-project-page_gallery-images-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .1;
    z-index: 0;
}

.sovmart-project-page_gallery-images-prev,
.sovmart-project-page_gallery-images-next {
    position: absolute;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: #000;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
}

.sovmart-project-page_gallery-images-prev {
    top: 50%;
    left: 0;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
}

.sovmart-project-page_gallery-images-next {
    top: 50%;
    right: 0;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
}

.sovmart-project-page_gallery-images-element {
    position: relative;
    animation: opac 0.8s;
}

.sovmart-project-page_gallery-images-element img {
    width: 100%;
    object-fit: contain;
    object-position: center;
    max-height: 300px;
}

.sovmart-project-page_gallery-images-element_caption {
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding: 10px 20px;
    background: #f1f1f1;
    color: #000;
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;
    max-width: 150px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
}

.sovmart-project-page_relations {
    margin-top: 35px;
}

.sovmart-project-page_relations-header {
    font-size: 20px;
    line-height: 24px;
}

.sovmart-project-page_relations-list {

}

.sovmart-project-page_relations-list_link {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    color: #000;
}

.sovmart-project-page_relations-list_link:hover {
    color: #ccc;
    cursor: pointer;
}


/************** Dropdown *****************/
.ri-dropdown-wrap {
    position: relative;
    display: inline-block;
}

.ri-dropdown {
    visibility: hidden;
    position: absolute;
    width: 300px;
    max-height: 400px;
    overflow: auto;
    transition: visibility 0.1s;
    z-index: 6;
}

.ri-dropdown-wrap:hover .ri-dropdown {
    visibility: visible;
}

.ri-dropdown-right {
    right: 0;
}

.ri-dropdown > * {
    width: 100%;
    text-align: left;
    border-radius: 0;
    border-top: none;
    border-bottom: none;
}

.ri-dropdown > .ri-btn {
    border: none;
    border-radius: 0;
    text-align: left;
}


/************** Toggle *****************/
.ri-toggle {
    border-radius: 4px;
}

.ri-toggle-buttons {
    display: inline-block;
    margin-right: 15px;
}

.ri-toggle-label {
    justify-content: space-between;
    padding: 1em;
    cursor: pointer;
    display: inline-block !important;
    border-radius: 4px;
}

.ri-toggle-label:before {
    content: attr(data-open);
}

.ri-toggle-content {
    max-height: 0;
    padding: 0;
    transition: all 0.35s;
    overflow: hidden;
}

.ri-toggle-content > div  {
    margin-bottom: 15px;
    padding: 0;
}

.ri-toggle-content > div:first-child {
    padding-top: 15px;
    margin-top: 15px;
}

.ri-toggle-content > div:last-child {
    padding-bottom: 15px;
    margin-bottom: 0;
}

.ri-toggle-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    cursor: pointer;
}

.ri-toggle input {
    display: none !important;
}

.ri-toggle input:checked ~ .ri-toggle-label:before {
    content: attr(data-close);
}

.ri-toggle input:checked ~ .ri-toggle-content {
    max-height: 100vh;
    overflow: visible;
}


/****************** sovmart-logs *********************/
.sovmart-logs {
    background: #eee;
    border-radius: 4px;
}

.sovmart-logs > div .alert {
    margin: 0;
}

.sovmart-logs > div  {
    margin-bottom: 15px;
    padding: 0 15px;
}

.sovmart-logs > div:first-child {
    padding-top: 15px;
    margin-top: 15px;
}

.sovmart-logs > div:last-child {
    padding-bottom: 15px;
}
