/*********** Container ************/
#radicalinstaller-container {
    position: relative;
}


/************* Text ***************/
.radicalinstaller-text-center {
    text-align: center;
}

.radicalinstaller-text-large {
    font-size: 20px;
    line-height: 24px;
}


/************* Width *************/
.radicalinstaller-width-1-1 {
    width: 100%;
}

.radicalinstaller-width-1-2 {
    width: 50%;
}

.radicalinstaller-width-2-3 {
    width: 66.6%
}

.radicalinstaller-width-auto {
    width: auto;
}

.radicalinstaller-width-expand {
    flex: 1;
}

.radicalinstaller-width-500 {
    width: 500px;
}

@media screen and (min-width: 1600px) {
    .radicalinstaller-width-1-2\@l {
        width: 50%;
    }
}


/************* Visible ***********/
.ri-hidden {
    display: none !important;
}

/*********** disabled ***************/
.ri-area-disabled {
    opacity: .6;
    pointer-events: none;
    cursor: not-allowed;
}

/************ Backgrounds ***********/
.radicalinstaller-background-muted {
    background: #eee;
}

/************* Margin *************/
.radicalinstaller-child-margin-right-small > * {
    margin-right: 15px;
}

.radicalinstaller-margin-auto {
    margin: auto !important;
}

.radicalinstaller-margin-top {
    margin-top: 35px;
}

.radicalinstaller-margin-right {
    margin-right: 35px;
}

.radicalinstaller-margin-bottom {
    margin-bottom: 35px;
}

.radicalinstaller-margin-bottom-small {
    margin-bottom: 15px;
}

.radicalinstaller-margin-right-small {
    margin-right: 15px;
}

.radicalinstaller-margin-left-xsmall {
    margin-left: 5px;
}

.radicalinstaller-margin-right-xsmall {
    margin-right: 5px;
}

.radicalinstaller-margin-right-xsmall {
    margin-right: 5px;
}

/************* Padding *************/
.radicalinstaller-padding {
    padding: 35px !important;
}

.radicalinstaller-padding-large {
    padding: 50px !important;
}


/*********** Height ***************/
.radicalinstaller-height-large {
    height: 400px;
}


/*********** Backgrounds **********/
.radicalinstaller-background-muted {
    background: #F0F0F0 !important;
}


/************ Flex ****************/
.radicalinstaller-flex {
    display: flex;
}

.radicalinstaller-flex-wrap {
    flex-wrap: wrap;
}

.radicalinstaller-flex-nowrap {
    flex-wrap: nowrap;
}

.radicalinstaller-flex-center {
    justify-content: center;
    justify-items: center;
}


.radicalinstaller-flex-middle {
    align-items: center;
    align-content: center;
}

.radicalinstaller-flex-space > * {
    margin-right: 6px;
    margin-bottom: 6px !important;
}

.radicalinstaller-flex-space > *:last-child {
    margin-right: 0;
}


/************ Grid ***************/
.radicalinstaller-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;
}

.radicalinstaller-grid > * {
    margin: 15px;
}

.radicalinstaller-grid-width-1-3 > * {
    width: calc(33% - 30px);
}

.radicalinstaller-grid-width-1-4 > * {
    width: calc(25% - 30px);
}



/*********** Form *****************/
.control-group-large:last-child {
    margin-bottom: 0 !important;
}

.control-group-large .control-label label {
    font-size: 18px;
    line-height: 22px;
}

.control-group-no-label .controls {
    margin-left: 0 !important;
    cursor: auto !important;
}

.control-group-large input {
    line-height: 40px !important;
    height: 40px !important;
    padding: 0 15px !important;
    font-size: 18px !important;
}


/************ Page ******************/
.radicalinstaller-page {

}

/*********** Group *****************/
.radicalinstaller-group {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 35px;
}

.radicalinstaller-group +
.radicalinstaller-group {
    margin-top: 35px;
}

.radicalinstaller-group-header {
    margin-bottom: 35px;
}

.radicalinstaller-group-header h3 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.radicalinstaller-group-subgroup {
    padding: 20px;
}

.radicalinstaller-group-subgroup:last-child {
    padding-bottom: 0;
}

.radicalinstaller-group-content {
    padding: 0;
}

.radicalinstaller-group-actions {
    margin-top: 35px;
}

/************* Card **************/
.radicalinstaller-project-card {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    height: 100%;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
}

.radicalinstaller-project-card-image {
    background-color: #eee;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    min-width: 180px;
    max-width: 180px;
    height: 100%;
}

.radicalinstaller-project-card-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.radicalinstaller-project-card-image img.icon {
    width: 50%;
    height: 100%;
    opacity: .5;
}

.radicalinstaller-project-card-info {
    padding: 15px;
    font-size: 13px;
    line-height: 17px;
}

.radicalinstaller-project-card-info h4 {
    font-size: 16px;
    line-height: 20px;
}

.radicalinstaller-project-card-category span {

}

.radicalinstaller-project-card-category a {
    color: #1e4567 !important;
    text-decoration: underline !important;
    cursor: pointer;
}

.radicalinstaller-project-card-category a:hover {
    color: #1f374f !important;
}

.radicalinstaller-project-card-version .value-arrow {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.radicalinstaller-project-card-actions {
    margin-top: 10px;
}

/************ Alerts *************/
#radicalinstaller-alert-container {
    position: fixed;
    height: auto;
    max-width: 350px;
    width: 100%;
    bottom: 30px;
    right: 0;
}

#radicalinstaller-alert-wrapper {
    height: auto;
    padding: 15px;
}

.radicalinstaller-alert {
    position: relative;
    padding: 25px 30px 20px;
    font-size: 15px;
    margin-top: 15px;
    opacity: 1;
    line-height: 1.4;
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: default;
    transition: all 0.5s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radicalinstaller-alert span {
    /*opacity: 0.7;*/
    transition: all 0.25s ease-in-out;
}

.radicalinstaller-alert span:hover {
    opacity: 1.0;
}

.radicalinstaller-alert-success {
    color: #ffffff;
    background-color: #37c1aa;
}

.radicalinstaller-alert-success > span {
    color: #0b6f5e;
}

.radicalinstaller-alert-info {
    color: #ffffff;
    background-color: #3473c1;
}

.radicalinstaller-alert-info > span {
    color: #1e4567;
}

.radicalinstaller-alert-warning {
    color: #6b7117;
    background-color: #ffee9e;
}

.radicalinstaller-alert-warning > span {
    color: #8a6d3b;
}

.radicalinstaller-alert-danger {
    color: #ffffff;
    background-color: #d64f62;
}

.radicalinstaller-alert-danger > span {
    color: #6f1414;
}

.close-alert-x {
    position: absolute;
    float: right;
    top: 10px;
    right: 10px;
    cursor: pointer;
    outline: none;
}

.fade-out {
    opacity: 0;
}

.animation-target {
    animation: radicalinstaller-alert-animation 1500ms linear both;
}

/* Generated with Bounce.js. Edit at http://goo.gl/BKCT19 */
@keyframes radicalinstaller-alert-animation {
    0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 250, 0, 0, 1); }
    3.14% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 160.737, 0, 0, 1); }
    4.3% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 132.565, 0, 0, 1); }
    6.27% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 91.357, 0, 0, 1); }
    8.61% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 51.939, 0, 0, 1); }
    9.41% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 40.599, 0, 0, 1); }
    12.48% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 6.498, 0, 0, 1); }
    12.91% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.807, 0, 0, 1); }
    16.22% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -17.027, 0, 0, 1); }
    17.22% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -20.404, 0, 0, 1); }
    19.95% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -24.473, 0, 0, 1); }
    23.69% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -21.178, 0, 0, 1); }
    27.36% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -13.259, 0, 0, 1); }
    28.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -11.027, 0, 0, 1); }
    34.77% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.142, 0, 0, 1); }
    39.44% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.725, 0, 0, 1); }
    42.18% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.675, 0, 0, 1); }
    56.99% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.202, 0, 0, 1); }
    61.66% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.223, 0, 0, 1); }
    66.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.104, 0, 0, 1); }
    83.98% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.01, 0, 0, 1); }
    100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}



/************ Page project ***************/
.radicalinstaller-project-page {

}

.radicalinstaller-project-page_buttons {
    margin-bottom: 35px;
}

.radicalinstaller-project-page_providers-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.radicalinstaller-project-page_providers-elements {
    margin-bottom: 25px;
    display: flex;
    align-self: center;
}

.radicalinstaller-project-page_providers-elements_element {
    width: 31%;
    margin-right: 2%;
    position: relative;
    display: flex;
    align-items: center;
}

.radicalinstaller-project-page_providers-elements_element_logo {
    width: 25%;
    margin-right: 10px;
}

.radicalinstaller-project-page_providers-elements_element_title {
    flex: 1;
    font-size: 17px;
    line-height: 21px;
    font-weight: 500;
}

.radicalinstaller-project-page_providers-elements_element_link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.radicalinstaller-project-page_description-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.radicalinstaller-project-page_description-text {
    margin-bottom: 25px;
    font-size: 17px;
    line-height: 23px;
}

.radicalinstaller-project-page_gallery-header {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 22px;
}

.radicalinstaller-project-page_gallery-images {
    position: relative;
    background: #ccc;
    height: 300px;
}

.radicalinstaller-project-page_gallery-images-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .1;
    z-index: 0;
}

.radicalinstaller-project-page_gallery-images-prev,
.radicalinstaller-project-page_gallery-images-next {
    position: absolute;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: #000;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
}

.radicalinstaller-project-page_gallery-images-prev {
    top: 50%;
    left: 0;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
}

.radicalinstaller-project-page_gallery-images-next {
    top: 50%;
    right: 0;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
}

.radicalinstaller-project-page_gallery-images-element {
    position: relative;
    animation: opac 0.8s;
}

.radicalinstaller-project-page_gallery-images-element img {
    width: 100%;
    object-fit: contain;
    object-position: center;
    max-height: 300px;
}

.radicalinstaller-project-page_gallery-images-element_caption {
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding: 10px 20px;
    background: #f1f1f1;
    color: #000;
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;
    max-width: 150px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
}

.radicalinstaller-project-page_relations {
    margin-top: 35px;
}

.radicalinstaller-project-page_relations-header {
    font-size: 20px;
    line-height: 24px;
}

.radicalinstaller-project-page_relations-list {

}

.radicalinstaller-project-page_relations-list_link {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    color: #000;
}

.radicalinstaller-project-page_relations-list_link:hover {
    color: #ccc;
    cursor: pointer;
}


/************** accordion *****************/
.ri-tabs {
    border-radius: 4px;
    overflow: hidden;
}

.ri-tab {
    width: 100%;
    color: white;
    overflow: hidden;
}

.ri-tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    cursor: pointer;
    border-radius: 4px;
}

.ri-tab-label::after {
    content: "â¯";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
}

.ri-tab-content {
    max-height: 0;
    padding: 0;
    transition: all 0.35s;
}

.ri-tab-content > div  {
    margin-bottom: 15px;
    padding: 0 15px;
}

.ri-tab-content > div:first-child {
    padding-top: 15px;
    margin-top: 15px;
}

.ri-tab-content > div:last-child {
    padding-bottom: 15px;
}

.ri-tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    cursor: pointer;
}

.ri-tabs input {
    display: none;
}

.ri-tabs input:checked + .ri-tabtab-label::after {
    transform: rotate(90deg);
}

.ri-tabs input:checked ~ .ri-tab-content {
    max-height: 100vh;
}


/****************** radicalinstaller-logs *********************/
.radicalinstaller-logs {
    background: #eee;
    border-radius: 4px;
}

.radicalinstaller-logs > div .alert {
    margin: 0;
}

.radicalinstaller-logs > div  {
    margin-bottom: 15px;
    padding: 0 15px;
}

.radicalinstaller-logs > div:first-child {
    padding-top: 15px;
    margin-top: 15px;
}

.radicalinstaller-logs > div:last-child {
    padding-bottom: 15px;
}
